@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');


body {
  background-color:#000;
}

.wrapper {
  display:block;
  width:600px;
  margin:100px auto;
  font-family:Roboto Mono;
  font-weight:300;
  line-height:1.7;
  text-shadow: #0ee027 0 0 0.8rem;
  color:#0ee027;

}

h2 {
  text-align:center;
  font-size:40px
}

.lines {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:5;
  background-image: url(../img/bg.png);
  background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDAgNzkuMTYwNDUxLCAyMDE3LzA1LzA2LTAxOjA4OjIxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+LUNEtwAAABBJREFUCJljYGBg8GViQAEABQIAUMdse+oAAAAASUVORK5CYII=");
  background-size: .1rem .2rem;
}

#Bild {
    align: center;
}
